.primary-color{
    background-color: #f4fafd;
}
body{
    font-family: 'Poppins', sans-serif;
}
.carousel-item img{
    filter: brightness(45%);
}
.button-reg-1{
    display: none;
}
@media screen and (max-width:992px) {
    .carousel-caption h1{
        font-size: 40px; }
        .none{
            display: none;
        }
        .join{
            text-align: center;
        }
        .button-reg-2{
            display: none;
        }
        .button-reg-1{
            display: block;
        }
}
@media screen and (min-width:992px) {
    .block{
        display: none;}
}
/* tablet Device */
@media screen and (max-width:768px) {
        .carousel-item img{
            height: 500px;
        }
        .carousel-item h1{
            font-size: 30px;
        }
}
@media screen and (max-width:500px) {
    .carousel-item img{
        height: 500px;
    }
    .button-reg-1{
        display: none;
    }
    .button-reg-2{
        display: block;
    }
}