/* slider style */
.carousel-item img{
    filter: brightness(45%);
}
/* tablet Device */
@media screen and (max-width:992px) {
    .carousel-caption h1{
        font-size: 40px; }
        .none{
            display: none;
        }
        .join{
            text-align: center;
        }
}
@media screen and (min-width:992px) {
    .block{
        display: none;}
}
/* tablet Device */
@media screen and (max-width:768px) {
        .carousel-item img{
            height: 500px;
        }
}
@media screen and (max-width:500px) {
    .carousel-item img{
        height: 500px;
    }
}




